* {
	box-sizing: border-box;
}

html,
input,
button {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 15px;
}

.note {
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 30px auto;
	padding: 30px 15px;
	max-width: 1000px;
}

input {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
}

textarea {
	font-family: 'Source Code Pro', Consolas, Monaco, monospace;
    overflow-y: hidden;
	display: block;
	width: 100%;
	margin-top: 10px;
}
